<br/>
<h5>Grup Hesabı RT ve FAV Destek Sayfası </h5>

<form class="navbar-form navbar" action="/gruprt" method="post" role="search">
   <div class="form-group">
     <p>Rt-Fav yapmak istediğiniz gruprt hesabının ismini (bu şekilde @gruprt)  yazınız</p>
     <p><input type="text" class="form-control" placeholder="@gruprt_ismi giriniz " name="q" required="required"></p><br>
     <p> Rt-Fav sayısını giriniz. Günlük toplam 1000 tane ile sınırlı. 
     30sn'de ise 25 veya 30 ile sınırlı. Aşınca 15 dk. beklemek zorundasınız.
     Fazla ve sürekli yaparsanız, twitter sizi hayalet yapar:)
     detay ve ayrıntılar için buraya bakınız. Maalesef İngilizcedir.
     <a href="https://developer.twitter.com/en/docs/tweets/post-and-engage/api-reference/post-statuses-retweet-id.html" target="_blank"> Ayrıntılar için brayı tıklayın.</a>
     </p>
     <p><input type="text" class="form-control" placeholder="Sayı girin" name="no" required="required"></p><br>
     <button type="submit" class="btn btn-success">BAŞLA </button>
    </div>
</form>