<a href="/">Ana sayfaya dön</a><br/>

<h1>Kişi için RT Destek Sayfası </h1>

<form class="navbar-form navbar" action="/kisirt" method="post" role="search">
   <div class="form-group">
     <p>RT yapmak istediğiniz kişinin kullanıcı ismini (bu şekilde @kullanıcı)  yazınız</p>
     <p><input type="text" class="form-control" placeholder="@kullanıcı_ismi giriniz " name="q" required="required"></p><br>
     <p>RT yapmak istediğiniz sayı giriniz. Günlük 1000 tane ile sınırlı. Fazla yaparsanız, twitter sizi hayalet yapar:)</p>
     <p><input type="text" class="form-control" placeholder="Sayı girin" name="no" required="required"></p><br>
     <button type="submit" class="btn btn-default">RT YAP</button>
    </div>
</form>