

<h1>Kişi için FAV Destek Sayfası </h1>

<form class="navbar-form navbar" action="/kisifav" method="post" role="search">
   <div class="form-group">
     <p>Fav yapmak istediğiniz kişinin kullanıcı ismini (bu şekilde @kullanıcı)  yazınız</p>
     <p><input type="text" class="form-control" placeholder="@kullanıcı_ismi giriniz " name="q" required="required"></p><br>
     <p>Fav sayısını giriniz. Günlük 1000 tane ile sınırlı. Fazla yaparsanız, twitter sizi hayalet yapar:)</p>
     <p><input type="text" class="form-control" placeholder="Sayı girin" name="no" required="required"></p><br>
     <button type="submit" class="btn btn-success">FAV YAP </button>
    </div>
</form>
