
<br/>
<h5>Liste için RT Destek Sayfası </h5>

<form class="navbar-form navbar" action="/listrt" method="post" role="search">
   <div class="form-group">
     <p>RT yapmak istediğiniz listenin  sahibinin ismini  yazınız</p>
     <p><input type="text" class="form-control" placeholder="Liste sahibinin ismini giriniz " name="isim" required="required"></p><br>
     <p>RT yapmak istediğiniz listenin ismini  yazınız</p>
     <p><input type="text" class="form-control" placeholder="Liste ismini giriniz " name="liste" required="required"></p><br>
     <p>RT sayısını giriniz. Günlük 1000 tane ile sınırlı. Fazla yaparsanız, twitter sizi hayalet yapar:)</p>
     <p><input type="text" class="form-control" placeholder="Sayı girin" name="no" required="required"></p><br>
     <button type="submit" class="btn btn-success">RT YAP </button>
    </div>
</form>