
<br/>
<h5>Liste için RT Destek Sayfası </h5>

<form class="navbar-form navbar" action="/listrt" method="post" role="search">
   <div class="form-group">
     <p>RT yapmak istediğiniz listenin  sahibinin ismini  yazınız</p>
     <p><input type="text" class="form-control" placeholder="Liste sahibinin ismini giriniz " name="isim" required="required"></p><br>
     <p>RT yapmak istediğiniz listenin ismini  yazınız</p>
     <p><input type="text" class="form-control" placeholder="Liste ismini giriniz " name="liste" required="required"></p><br>
    <p> Rt sayısını giriniz. Günlük toplam 1000 tane ile sınırlı. 
     30sn'de ise 25 veya 30 ile sınırlı. Aşınca 15 dk. beklemek zorundasınız.
     Fazla ve sürekli yaparsanız, twitter sizi hayalet yapar:)
     detay ve ayrıntılar için buraya bakınız. Maalesef İngilizcedir.
     <a href="https://developer.twitter.com/en/docs/tweets/post-and-engage/api-reference/post-statuses-retweet-id.html" target="_blank"> Ayrıntılar için brayı tıklayın.</a>
     </p>
     <p><input type="text" class="form-control" placeholder="Sayı girin" name="no" required="required"></p><br>
     <button type="submit" class="btn btn-success">RT YAP </button>
    </div>
</form>