<h1>Tag için RT ve FAV Destek Sayfası </h1>

<form class="navbar-form navbar" action="/tagdestek" method="post" role="search">
   <div class="form-group">
     <p>RT ve Fav yapmak istediğiniz tagı # ile beraber yazınız</p>
     <p><input type="text" class="form-control" placeholder="Yapmak istediğiniz tagı # ile beraber yazınız" name="q" required="required"></p><br>
     <p>Rt veFav yapmak istediğiniz sayı giriniz. Günlük 1000 tane ile sınırlı. Fazla yaparsanız, twitter sizi hayalet yapar:)</p>
     <p><input type="text" class="form-control" placeholder="Yapmak istediğiniz sayı. Twitter en fazla günlük 1000 limitli" name="no" required="required"></p><br>
     <button type="submit" class="btn btn-default">Taga Desteğe Başla</button>
    </div>
</form>



