
<br/>
<h5>Tag için RT ve FAV Destek Sayfası </h5>

<form class="navbar-form navbar" action="/tagdestek" method="post" role="search">
   <div class="form-group">
     <p>RT ve Fav yapmak istediğiniz tagı # ile beraber yazınız</p>
     <p><input type="text" class="form-control" placeholder="Yapmak istediğiniz tagı # ile beraber yazınız" name="q" required="required"></p><br>
     <p>Rt ve Fav yapmak istediğiniz sayıyı giriniz. Günlük 1000 tane ile sınırlı. Fazla yaparsanız, twitter sizi hayalet yapar:)</p>
     <p><input type="text" class="form-control" placeholder="Sayı giriniz." name="no" required="required"></p><br>
     <button type="submit" class="btn btn-success">Başla</button>
    </div>
</form>



